@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");

:root {
    --main-purple: #7D5BA6;
    --main-gray: #303841
} 

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    overflow-x: hidden;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    scroll-behavior: smooth;
}
/* Navegation bar */
#navbar {
    background-color: var(--main-purple);
    position: fixed;
    top: 0;
    width: 100vw;
    height: 50px;
}

#navbar ul {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0 2rem;
}

#navbar ul li {
    padding: 16px 20px;
}

#navbar ul li:hover {
    background-color: #453643;
}

ul li, ul li a {
    list-style-type: none;
    text-decoration: none;
    color: white;
}

main {
    margin-top: 50px;
}

h1, h2 {
    font-weight: 700;
    text-align: center;
    font-size: 2rem;
}

/* #welcome-section */
#welcome-section {
    height: 100vh;
    background: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    display: flex;
    justify-content: center;
}

#about-container {
    max-width: 1024px;
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    margin: 0 86px;
}

#avatar {
    height: 300px;
    border-radius: 50%;
    padding: 10px;
    border: 3px solid var(--main-purple);
}

.desc {
    max-width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.5;
    text-align: justify;
}

.desc h1 {
    text-align: start;
    margin-bottom: 8px;
    color: var(--main-purple);
}

.desc p:first-of-type {
    margin-bottom: 2rem;
}

#projects {
    background-color: #45567d;
    padding: 6rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#projects-header {
    margin: auto;
    max-width: 640px;
    margin-bottom: 4rem;
    border-bottom: 2px solid white;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 4rem;
}

.project img {
    width: 100%;
    object-fit: cover;
}

.project {
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: var(--main-gray);
    border-radius: 2px;
} 

.project-title {
    padding: 1.5rem;
    font-weight: 700;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 4px;
    color: white;
}

.btn-show-all {
    font-size: 20px;
    margin: 0 auto;
    background: var(--main-gray);
    transition: 0.3s ease-out;
    text-decoration: none;
}

.btn-show-all:hover {
    background-color: var(--main-purple); 
}

.btn-show-all:hover > i {
    transform: translateX(2px);
  }
  
.btn-show-all > i {
  margin-left: 10px;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}

/* For Mobile devices */
@media (max-width: 1200px) {
    .projects-grid {
        grid-template-columns: repeat(2, minmax(320px, 1fr));
    }
}

@media (max-width: 800px) {
    /* header */
    #navbar ul {
        justify-content: center;
    }

    /* welcome-section */
    #about-container {
        display: flex;
        flex-direction: column;
        margin: 32px;
    }

    #avatar {
        margin-top: 64px;
    }
    
    #desc-header, p:first-of-type {
        text-align: center;
    }

    .projects-grid {
        grid-template-columns: repeat(1, minmax(320px, 1fr));
    }
}

@media (max-width: 600px) {
/* welcome-section */
    #avatar {
        margin-top: 0;
        margin-bottom: -2rem;
        height: 240px;
    }

    #projects {
        padding: 6rem 1rem;
    }
}